.sidebar {
  height: 100%;
  width: 130px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
}

.sidebar a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
  text-align: left; /* Center align text */
}

.sidebar a:hover {
  color: #f1f1f1;
}

body {
  background: linear-gradient(0deg, rgb(75, 5, 5) 0%, rgb(31, 4, 66) 100%);
  background-attachment: fixed;
  font-family: Verdana;
}

#gif {
  display: block;
  margin: auto; /* Center horizontally */
  /* Space from the top */

  transform: translate(0, 50%);
}

@media screen and (max-width: 600px) {
  .sidebar {
    width: 100%; /* Full width */
    position: relative; /* Normal flow under GIF */
    background-color: #33333300;
    transition-duration: 0.5s;
  }
  .sidebar a {
    background-color: #111; /* Button-like appearance */
    color: white;
    padding: 12px; /* Bigger, easier to tap */
    margin: 10px; /* Spacing between buttons */
    border-radius: 4px; /* Rounded corners */
    text-align: center;
  }
  .sidebar a:hover {
    background-color: transparent;
  }

  #gif {
    display: block;
    margin: auto; /* Center horizontally */
    padding-top: 20px; /* Space from the top */

    transform: translate(0, 0);
  }
}
