.sidebar {
    height: 100%;
    width: 130px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    
}

.sidebar a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
    text-align: left; /* Center align text */
}
body {
    background: linear-gradient(0deg, rgb(75, 5, 5) 0%, rgb(31, 4, 66) 100%);
    background-attachment: fixed;
    font-family: Verdana;
}

#thediv {
    text-align: center;
    padding: 8%;
}

h2 {
    color: #FFFFFF;
}

.main {
    margin-left: 160px;
    padding: 0px 10px;
}

img {
    border-radius: 50%;
    width: 100px;
}

.button {
    background-color: #111111;
    color: white;
    border: 2px solid #111111;
    border-radius: 50px;
    width: 25%;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.5s;
    
}

.button:hover {
    background-color: transparent;
}

@media screen and (max-width: 600px) {
    .button {
        width: 75%;

        
    }
    .sidebar {
        width: 100%; /* Full width */
        position: relative; /* Normal flow under GIF */
        background-color: #33333300; 
        transition-duration: 0.5s;
        
    }
    .sidebar a {
        background-color: #111; /* Button-like appearance */
        color: white;
        padding: 12px; /* Bigger, easier to tap */
        margin: 10px ; /* Spacing between buttons */
        border-radius: 4px; /* Rounded corners */
        text-align: center;
    }
    .sidebar a:hover {
        background-color: transparent;
    }
    
}