.sidebar {
    height: 100%;
    width: 100px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 16px;
}

.sidebar a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
}

.sidebar a:hover {
    color: #f1f1f1;
}

body {
    background: linear-gradient(0deg, rgb(75, 5, 5) 0%, rgb(31, 4, 66) 100%);
    background-attachment: fixed;
    font-family: Verdana;
}

#thediv {
    text-align: center;
    padding: 8%;
}

h2 {
    color: #FFFFFF;
}

.main {
    margin-left: 160px;
    padding: 0px 10px;
}

img {
    border-radius: 50%;
    width: 100px;
}

.button {
    background-color: #111111;
    color: white;
    border: 2px solid #111111;
    border-radius: 50px;
    width: 40%;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.5s;
}

.button:hover {
    background-color: transparent;
    border: 1px solid #111111;
}